<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration 
      PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" 
      "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">  
<generatorConfiguration>
	<context id="mysqlTables" targetRuntime="MyBatis3">

        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8" />
        <!-- 格式化java代码 -->
        <property name="javaFormatter"
            value="org.mybatis.generator.api.dom.DefaultJavaFormatter" />
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter"
            value="org.mybatis.generator.api.dom.DefaultXmlFormatter" />

        <!-- 此处是将 Example 改名为 Criteria 想改成什么都行 -->
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example" />
            <property name="replaceString" value="Criteria" />
        </plugin>  

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://47.106.82.166:3306/duoyi?characterEncoding=UTF-8" userId="root"
			password="haozi1998">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 生成model模型，对应的包，存放位置可以指定具体的路径,如/ProjectName/src，也可以使用MAVEN来自动生成 -->
		<javaModelGenerator targetPackage="com.duoyi.model.po"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator> 

		<!--对应的xml mapper文件 -->
		<sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- 对应的dao接口 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.duoyi.dao" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator> 

		<!-- 这里是数据库的表名 以及 PO类的名字(即：手动指定生成的模型类类名) -->
		<table tableName="user" domainObjectName="UserGenerator"
            enableSelectByPrimaryKey="true" enableSelectByExample="true"
            enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true"
            enableDeleteByExample="true" enableCountByExample="true"
            enableUpdateByExample="true" enableInsert="true"></table>
	</context>
        <!-- mybatis-generator:generate 执行命令 --> 
</generatorConfiguration>